body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nav.parent-nav {
  /* padding: 20px; */
  /* background-color: rgb(252, 133, 173); */
  /* background-color: #333; */
  /* color: #fff; */
  /* padding: 20px; */
/* } */

/* .nav-links {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
} */

.parent-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d6efd;
  color: #fff;
  padding: 10px;
}

.parent-nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
}

.parent-nav a.active {
  background-color: #555;
}

.parent-nav a:not(:last-child) {
  margin-right: 10px;
}

.logout-btn {
  margin-left: auto;
}

.home-container, .about-container {
  text-align: center;
  margin-top: 50px;
}

.home-container h1, .about-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.home-container p, .about-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.link-tag {
  text-decoration: none;
}

.link-tag button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}