/* .login-container, .signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */
  
h2 {
    text-align: center;
}
  
/* .form-group {
    margin-bottom: 15px;
} */



.container {
    display: flex;
}


.login-container, .signup-container{
  flex: 1;
  padding: 100px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group {
    margin-bottom: 20px;
}
    
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* input[type="email"],
input[type="password"],input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  } */
/*   
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */
  
.btn:hover {
    background-color: #0056b3;
}

.form {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }
  

  .input-container button {
    padding: 5px 4px 5px 2px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }